<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.siyue.platform.sms.server.mapper.SiyueSmsTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.siyue.platform.sms.pojo.SiyueSmsType">
        <id column="id" property="id" />
        <result column="platform" property="platform" />
        <result column="name" property="name" />
        <result column="content" property="content" />
        <result column="type" property="type" />
        <result column="create_at" property="createAt" />
    </resultMap>

</mapper>
